/* KODE X-RAY SEMENTARA UNTUK MENCARI BUG */
* {
    outline: 1px solid red !important;
}
body {
   background: linear-gradient(#9a08dd 0%, #dd4c4f 40%, #7420d3 100%);
}
.profile {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
}
.profileimage {
    width: 150px;     
    height: 150px;     
    object-fit: cover; 
}
.profile h3 {
    color: white;
}
.profile p {
    color: white;
    transform: translateY(-10px);
}
.navbar {
    z-index: 1030 !important; 
    position: sticky !important;
    top: 0;
    z-index: 999 !important;
    background-color: #ffffff !important;
}
.navbar-toggler {
    z-index: 10000 !important;
    background-color:white!important;
    border: 2px solid #9a08dd!important;
}
.navbar-toggler-icon {
    filter: black !important;
}
.biodata {
     background: linear-gradient(#ffffff 0%, #ffffffd7 40%, #ffffff00 100%);
     padding-bottom: 80px;
     margin-top: -1px;
     padding-top: 150px;
}
.row {
    padding: 0px 20px;
}
.intership {
    padding-top: 180px;
}
.footer {
    background-color: white;
    margin-top: -1px;
    padding-bottom: 20px;
}
.contact a {
    color:black;
    font-size:30px;
}
.watermark {
    padding-top: 30px;
}
@media (max-width: 768px) {
    .profile {
        margin-top: 150px; 
    }
    .biodata {
        padding-top: 70px;
        padding-bottom: 80px;
    }
    .intership {
        padding-top: 100px;
        padding-bottom: 100px;

    }
    .row {
        padding: 0px 10px;
    }
    .contact {
        padding-bottom: 20px;
        padding-top: 30px;
    }
}
.navbar-brand {
    font-family: 'Pacifico', cursive;
    font-size: 28px;
    color: #7420d3 !important;
}
.card {
    transition: transform 0,3s ease;
}
.card.hover {
    transform: translate(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.btn-danger:hover{
    transform: scale(1.05);
    box-shadow: 0 5px 15px rgba(220, 53, 69, 0.4);
}
.contact a{
    display:inline-block;
    transition: transform 0.3s ease, color 0.3s ease;
}
.contact a:hover{
    transform: translateY(-5px) scale(1.1);
    color:#9a08dd;
}
.navbar-nav .nav-link {
    transition: all 0.3s ease;
    border-radius: 7px;
}
.navbar-nav .nav-link:hover {
    box-shadow: 0 4px 8px rgba(154, 8, 221, 0.754);
    text-shadow: 2px 2px 4px rgba(0, 0, 0,0.3);
    color: #9a08dd !important;
}
.navbar-nav .nav-link.active {
    transition: all 0.3s ease;
    border-radius: 5px;
}
.navbar-nav .nav-link:hover,
.navbar-nav .nav-link.active,
.navbar-nav nav-link:focus {
   box-shadow: 0 4px 8px rgba(154, 8, 221, 0.3);
   color:#9a08dd !important;
}
html, body {
    max-width: 100%;
    overflow-x: hidden;
}